<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
 
  <%- include('../partials/scriptsAttach') %>
 
  <body>
    <!-- header -->
    <header><%- include('../partials/header') %></header>
    <main class="container">
      <div class="card p-3 m-3" style="width: 30rem;">
       
          <img class="card-img-top" id="poster" alt="Card image cap"></img>
              <div class="card-body text-dark">
              <h5  id="title" class="card-title"></h5>
              <h4 class="card-info" id="rating"><i class="fa fa-star checked"></i></h4>
              <p class="card-text" id="genres"></p>
              <p class="card-text" id="summary"></p>
             </div>
            
          </div>
         <div>
          <form id="rating-form" method="POST" action="/movies/<%= movie_id %>">
            <label for="userrating">Rate movie here:</label>
            <input id="userrating" type="number" name="userrating"  />
            <button type="submit">Rate</button>
          </form>
         </div>

      <!-- <h1 id="title"></h1>
      <img id="poster" src="" alt="" />
      <div>
        <div id="genres"></div>
        <p id="summary"></p>
      </div> -->
      <div>
        <h2>Comments</h2>
        <!-- <%# if (typeof user !== 'undefined' && user.userId) { %> -->
        <form id="comment-form" method="POST" action="/movies/<%= movie_id %>">
          <label for="comment">Write comment here:</label>
          <input id="comment" type="text" name="comment" />
          <button type="submit">Send</button>
        </form>
        <!-- <%# } else { %> 
          <p>Please <a href="/login">login</a> to post a comment.</p>
        <!-- <%# } %> -->
        <div id="comments">
          <%# const commentLimit = comments.length > 10 ? 10 : comments.length
          %> <% for (let i = 0; i < comments.length; i++) { %>
          <div>
            <p><strong><%= comments[i].comment %></strong></p>
            <p><%= comments[i].created_at %></p>
          </div>
          <% } %>
        </div>
      </div>
    </main>

    <!-- footer -->
    <%- include('../partials/footer') %>
    <script>
      const movie_id = <%= movie_id %>
    </script>
    <script src="/js/single-movie.js"></script>
    <%- include('../partials/attachJsscript') %>
  </body>
</html>
