<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body class="w3-light-grey">
  <%- include('../partials/nav') %>
  <%- include('../partials/header') %>

  <main class="sm-content">
    <section class="bg-black">
      <div class="movie-intro max-w-1050">
        <div class="movie-img">
          <img id="backdrop">
        </div>
        <div class="movie-desc">
          <h1 id="title"></h1>
          <h4 id="releaseYear"></h4>
          <p id="genres">Genres: Drama, Family, Fantasy</p>
          <p id="overview">Shang-Chi must confront the past he thought he left behind when he is drawn into the web of the mysterious Ten Rings organization.</p>
        </div>
      </div>
    </section>
    <section class="movie-vote max-w-1050">
      <div>
        <h1 id="voteAvg"></h1>
        <h3>VOTE AVERAGE</h3>
      </div>
      <div>
        <h1 id="voteCount"></h1>
        <h3>VOTE COUNT</h3>
      </div>
    </section>

    <section id="addMovieReview" class="movie-review max-w-1050">
      <div class="review-title">
        <h1>REVIEWS</h1>
        <a class="btn-add-review" href="">ADD REVIEW</a>
      </div>
      <div class="add-review-box max-w-1050">
        <form id="comment-form" method="POST" action="/movies/<%= movie_id %>">
          <div>
            <label for="rating">Rating</label> 
            <input id="userrating" type="number" name="userrating" step=".1" min="0" max="10" required>
          </div>
    
          <div>
            <label for="comment">Comment</label> 
            <textarea name="comment" id="comment" required></textarea>
          </div>

          <button class="btn-submit" type="submit">SEND</button>
        </form>
      </div>
    </section>

    <section id="movieReview" class="movie-review max-w-1050">
      <% if(typeof rating != 'undefined') { %>
        <% for (let i = 0; i < rating.length; i++) { %>
          <div class="user-review-card">
            <div class="user-review-info">
              <div class="user-abbv"><%= rating[i].firstname.substr(0, 2) %></div>
              <p class="user-name"><%= rating[i].firstname %></p>
              <p class="text-center"><%= rating[i].created_at %></p>
            </div>
            <div>
              <p id="userCommentb<%= rating[i].id %>" class="user-review"><%= rating[i].comment %></p>
              <p id="readMoreb<%= rating[i].id %>" class="read-more"></p>
            </div>
            <div class="user-rating">
              <h4>VOTE</h4>
              <h1><%= parseFloat(rating[i].rating).toFixed(1) %></h1>
            </div>
          </div>
        <% } %>
      <% } %>
      
      <!-- <div class="user-review-card">
        <div class="user-review-info">
          <span class="user-abbv"></span>
          <img class="user-avatar">
          <p class="user-name"></p>
          <p class="text-center"></p>
        </div>
        <div>
          <p class="user-review"></p>
          <p class="read-more"></p>
        </div>
        <div class="user-rating">
          <h4>VOTE</h4>
          <h1>5.4</h1>
        </div>
      </div> -->

    </section>

  </main>

  <%- include('../partials/footer') %>
  <script>
    const movie_id = <%= movie_id %>
  </script>

  <!-- Bootstrap JQuery Plugin -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

  <!-- Additional Javascript -->
  <script src="/js/single-movie.js"></script>
</body>
</html>


